.container{
  width: 100%;
  .body{
    width: 1080px;
    height: 900px;
    margin: 0 auto;
  }
}
.user {
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: beige;
}